.milk-body {
  background: gray;
}

.card
  width 960px
  height 480px
  position relative
  background-size cover
  margin 0 auto 0 auto
  
  .moloko-logo
    text-align right
    position absolute
    top 0
    padding 20px 20px 0 0
    font-size 20px
    opacity 1

.milktext
  width 100%
  max-height 240px
  padding 20px 60px 60px 60px
  position absolute
  bottom 0
  z-index 1 
  background rgba(251, 249, 245, 1)
  font-family PT Serif
  font-size 38px
  font-weight 700
  text-align center
  line-height 120%

.milktext:before
  content ' '
  width 960px
  height 41px
  position absolute
  top -41px
  left 0
  background-image url(../images/wave-1.png)
  background-size 960px
