*
  box-sizing border-box
  padding 0
  margin 0

body
  text-size-adjust 100%

input, textarea, button
  outline none
  font-family f_Default
  font-size size_Default

.visible
  opacity 1 !important

a
  padding-top .6em

table
  border-collapse collapse
  border-spacing 0
