// Шрифты
f_Helvetica = f_Default = 'Helvetica Neue', Arial, sans-serif
f_headline = 'PT Sans Caption'
f_text =  Georgia
size_Default = 18px

// Цвета
gray = rgba(0, 0, 0, .5)
molokoColor = rgba(41,146,228, 1)

// Адаптив
tablet = 'screen and (max-width: 990px)'
miniTablet = 'screen and (max-width: 860px)'
mobile = 'screen and (max-width: 700px)'
miniMobile = 'screen and (max-width: 550px)'
resp_Test = 'screen and (max-width: 3000px)'
